.nav{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  background-image: linear-gradient(to bottom, black, rgb(0, 26, 255));
  padding: 10px;
}
a{
    color:white
}