body{
    background-color: black;
    color: white;
}
a{
    color: white;
}
.content {
    display: flex;
}
.font{
    font-family: 'Noto Sans JP', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.sidebar {
    height: 100%;
    width: 160px; 
    position: static; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
}
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #0026ff;
    display: block;
}
.sidebar a:hover {
    color: #e70d0d;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}