body {
    background-color: black;
    color: white;
}

a {
    color: white;
}

.cartao {
    background: linear-gradient(274.48deg, rgba(20, 0, 255, 0.2) -3.95%, rgba(255, 0, 0, 0.2) 112.94%), linear-gradient(173.84deg, rgba(5, 0, 255, 0.2) -5.88%, rgba(255, 0, 184, 0.2) 102.29%), linear-gradient(266.77deg, rgba(251, 0, 0, 0.56) -17.13%, #FB0000 106.01%);
    border-radius: 22px;
    width: 401px;
    height: 216px;
    font-family: 'Noto Sans JP', sans-serif;
}

.chip {
    height: 40px;
    width: 60px;
    margin: 15px 20px 0 0;

    background: #DAA030;
    border-radius: 15px;
}

.content {
    display: flex;
}

.inner-content {
    width: 100%;
    flex-direction: column;
    padding-left: 20px;
}

.font {
    font-family: 'Noto Sans JP', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(180deg, rgba(6, 74, 250, 0.91) 0%, rgba(57, 62, 63, 0) 99.99%, rgba(57, 62, 63, 0) 100%);
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    width: 65px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    margin: 6px 8px 20px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #0026ff;
    display: block;
}

.sidebar a:hover {
    color: #e70d0d;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

.Logout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chart {
    display: flex;
    width: 500px;
    height: 100px;
}

.div-pai {
    display: flex;
    flex-wrap: wrap;
}

.div {
    display: flex;
    flex-direction: column;
}

.squares{
    background: #FFFFFF;
    color: #000000;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: 2rem;
}

.tamanho {
    display: flex;
    flex-direction: column;
    height:800px;
    margin-left: 150px;
    margin-right: 150px;
}

.wrapper {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
}

.market {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px 25px 17px 24px;
    background: #5F3CA5;
    border-radius: 20px;
}

.profit{
    background: #3C354A;
    border-radius: 20px;
}