body {
    background-color: black;
    color: white;
}

a {
    color: white;
}

.news{
    background-color:white;
    color: purple;
    border-radius: 10px;
    width: 401px;
    height: 190px;
    font-family: 'Noto Sans JP', sans-serif;
    margin-left:20px;
    text-align: center;

}

.ajuste{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    color: black;
}

.cartao {
    border-radius: 10px;
    width: 401px;
    height: 190px;
    font-family: 'Noto Sans JP', sans-serif;
    padding-left: 10px;
}

.cartao:nth-child(2) {
    background: linear-gradient(292.53deg, #F2A900 31.56%, rgba(147, 129, 255, 0.75) 97.92%);    
}

.cartao:nth-child(3) {
    background: linear-gradient(292.53deg, #ECF0F1 31.56%, rgba(147, 129, 255, 0.75) 97.92%);    
}

.cartao:nth-child(4) {
    background: linear-gradient(292.53deg, #E88484 31.56%, rgba(147, 129, 255, 0.75) 97.92%);  
}

.content {
    display: flex;
}

.inner-content {
    width: 100%;
    flex-direction: column;
    padding-left: 20px;
}

.font {
    font-family: 'Noto Sans JP', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(180deg, rgba(6, 74, 250, 0.91) 0%, rgba(57, 62, 63, 0) 99.99%, rgba(57, 62, 63, 0) 100%);
    padding: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    width: 65px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    margin: 6px 8px 20px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #0026ff;
    display: block;
}

.sidebar a:hover {
    color: #e70d0d;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

.Logout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chart {
    display: flex;
    width: 500px;
    height: 100px;
}

.div-pai {
    display: flex;
    flex-wrap: wrap;
}

.div {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

@media only screen and (max-width:500px){

}